input {
  background: #00000030;
  border: 0.1px solid #ec98be29;
  outline-width: 0;
  height: 50px;
  width: 500px;
  padding: 1rem;
  color: var(--text-color);
}

input:focus {
  background: var(--text-color);
  outline-width: 0;
  height: 50px;
  width: 500px;
  padding: 1rem;
  color: var(--input-color);
}

textarea {
  background: #00000030;
  border: 0.1px solid #ec98be29;
  outline-width: 0;
  padding: 1rem;
  color: var(--text-color);
}

textarea:focus {
  background: var(--text-color);
  outline-width: 0;
  padding: 1rem;
  color: var(--input-color);
}

::placeholder {
  font-family: var(--text-font);
  font-size: 16px;
}

button {
  height: 40px;
  width: 200px;
  background-color: var(--loader-color);
  font-family: var(--text-font);
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  color: var(--input-color);
  font-size: 16px;
}

.main-wrapper {
  align-items: center !important;
}

.main-contents {
  gap: 1rem !important;
}

.footer-socials {
  justify-content: center !important;
}