<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <title>JM | Dashboard</title>
</head>

<body>
  <div class="container">
    <div class="header-wrapper">
      <header class="header-contents">
        <img src="/static/assets/JMA-2nd.png" alt="JMA Logo" class="header-icon">
        <div class="header-text">
          <ul class="header-ul">
            <li><a href="">About</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Contact</a></li>
            <li class="toggle-btn" onclick="portMode()">
            <!-- Append svg icon/s here -->
            </li>
          </ul>
        </div>
      </header>
    </div>

    <div class="main-wrapper">
      <h1 class="greeting-h1">Joan Andal</h1>
      <p>Software developer with over a year of experience in developing, maintaining, testing, and debugging both the backend
      and frontend of applications and systems. Capable of efficient self-management during individual projects, as well as
      collaborating effectively as part of a productive team.</p>
    </div>

  </div>
</body>
<script src="/static/js/dashboard.js"></script>
</html>